.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    text-align: center;
    background-color: #e66465;
}

.example-card{
    display: inline;
}

.box{
    margin: 0px 5px;
    border-radius: 8%;
    background-image: linear-gradient( #ffecd2 0%, #fcb69f 50%, #e66465 100%);
    width: 20%;
}

.header
{
    display: table-column-group;

}